.hero-title {
  color: #bfbfbf;
  padding-bottom: 1.5rem;
}

#landing-title {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  color: #03389c;
  text-shadow: 3px 3px #bfbfbf;
  padding-top: 1rem;
}

.selling-points {
  border-top: 0.25rem
  solid #bfbfbf;
}

.point-title, .point-description {
  text-align: center;
  color: #bfbfbf;
}

.point-description {
  font-weight: bold;
  color: #a19d9d;
  padding-left: 5rem;
  padding-right: 5rem;
}

h2 {
  padding-top: 1rem;
}
